html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background: #4B79A1;
  background: -webkit-linear-gradient(to top, #283E51, #4B79A1);
  background: linear-gradient(to top, #283E51, #4B79A1);
}
